In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]

In [3]:
df

      Age  Pclass     Fare  Survived
0    22.0       3   7.2500         0
1    38.0       1  71.2833         1
2    26.0       3   7.9250         1
3    35.0       1  53.1000         1
4    35.0       3   8.0500         0
..    ...     ...      ...       ...
886  27.0       2  13.0000         0
887  19.0       1  30.0000         1
888   NaN       3  23.4500         0
889  26.0       1  30.0000         1
890  32.0       3   7.7500         0

[891 rows x 4 columns]

In [4]:
df.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [6]:
X = df.drop(columns=['Survived'])
Y = df['Survived']

In [9]:
X.head()

    Age  Pclass     Fare
0  22.0       3   7.2500
1  38.0       1  71.2833
2  26.0       3   7.9250
3  35.0       1  53.1000
4  35.0       3   8.0500

In [10]:
X_train,X_test,Y_train,Y_test  = train_test_split(X,Y,test_size=0.2,random_state=2)

In [11]:
X_train.head()

      Age  Pclass     Fare
30   40.0       1  27.7208
10    4.0       3  16.7000
873  47.0       3   9.0000
182   9.0       3  31.3875
876  20.0       3   9.8458

In [22]:
knn = KNNImputer(n_neighbors=10,weights='distance')
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [23]:
lr = LogisticRegression()
lr.fit(X_train_trf,Y_train)

Y_pred = lr.predict(X_test_trf)

accuracy_score(Y_test,Y_pred)

0.7039106145251397

In [27]:
# Comparision with Simple Imputer

si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [28]:
lr = LogisticRegression()
lr.fit(X_train_trf2,Y_train)

Y_pred2 = lr.predict(X_test_trf2)

accuracy_score(Y_test,Y_pred2)

0.6927374301675978